<h1 class="text-warning fs-2 text-center mb-4">Order Details</h1>



<table class="table">
    <thead class="table-warning">
        <tr>
            <th scope="col">Product detail</th>
            <th scope="col">تفاصيل المنتج</th>
            <th scope="col">User Shipping address</th>
            <th scope="col">عنوان التوصيل</th>
            <th scope="col">City</th>
            <th scope="col">المدينة</th>
            <th scope="col">Phone</th>

          </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td>{{order.shippingAddressEn}}</td>
            <td>{{order.shippingAddressAr}}</td>
            <td>{{order.cityEn}}</td>
            <td>{{order.cityAr}}</td>
            <td>{{order.phone}}</td>
           
          </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>

