
.checkoutCard{
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* height: 400px; */
        height: 100%;
    border-radius: 10px;

}

.sectionTitle{
    width: 100%;
    height:70px;
    padding-top: 20px;
    border-bottom:1px solid lightgray;
}
.shipContent{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    margin-top:10px ;
}

.tableData{
     border: 1px solid lightgray;
    
}
.orderSummary{
    height:500px;
    overflow: auto;
    width: 100%;
    padding: 3%;
}

.discInput{
    border-radius: 30px;
    margin: 15px;
    
}
.checkoutPrice{
    color: red;
    font-weight: bold;
}

