body {
    /* background-color: #95c2de; */
    background-color:#fff;
  }
  .hfav{
    color: #000;
    background-color:orange;
  }
  .myHeart{
    border: 2px solid rgb(216, 29, 29);
  }
  .cardImg{
height: 250px;

  }
  #favCard{
    border: 2px solid orange;

  }
  #fav{

    display: flex;
    justify-content: space-between;
  }