@media only screen and (max-width: 990px) {
    
    .amount {
      display: block;
      margin: 0 auto;
    }
    .imgCart{
      display: none;
    }
    .tit{
      display: block;
      margin-top: 10%;

    }
    .gBtn{
      display: flex;
      align-items:center;
      justify-content: flex-end;
      flex-direction: column;
      height: fit-content;
      
    }
    .gBtn button{
      margin: 0 auto;
      margin-bottom: 12px;

    }
    .thecart{
      margin-top: 20%;
    }
  }