

<nav class="navbar">
    <input type="text" class="form-control" name="catName" id="catName" [(ngModel)]="searchTerm" (ngModelChange)="Search()" placeholder="Enter User Name">
</nav>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" (click)="sort('id')">ID &nbsp;<i class="fa fa-sort text-black-50"></i></th>
            <th scope="col">User</th>
            <th scope="col">Status</th>
            <th scope="col">Items</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
    </thead>
    <tbody>
        <ng-container *ngFor =" let order of ListOfOrder | orderBy: key: reverse | paginate: {itemsPerPage:5, currentPage:p}; let i = index">
        <tr>
            <th scope="row">{{order._id}}</th>
            <td>{{order.userId}}</td>
            <td><span class="px-2 py-1 bg-danger-subtle rounded-3">{{order.statusEn}}</span></td>
            <td>{{order.products.quantity}}</td>
            <td>$ {{order.totalPrice}}</td>
            <td><i class="fa-solid fa-eye me-3 fs-5 text-primary" (click)="details(order._id)" role="button"></i> 
              <i class="fa-solid fa-pen-to-square me-3 fs-5 text-success" (click)="update(order._id)" role="button"></i>
               <i class="fa-solid fa-trash fs-5 text-danger" (click)="delete(order._id)" role="button"></i></td>
        
          </tr>
        </ng-container>
    </tbody>
    <tfoot>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tfoot>
  </table>

