
<div class="container d-flex flex-column align-items-center">
  <div class="w-75 p-3 shadow-lg rounded-3 border border-warning mt-5">
  <form #categoryForm="ngForm" (submit)="addCat()">
      <div class="mb-3">
        <label for="catName" class="form-label">Category Name</label>
    
        <input type="text" #catNameInput="ngModel" class="form-control" name="catName" id="catName" [(ngModel)]="cat.catNameEn" required  [class.is-valid]="catNameInput.valid" [class.is-invalid]="catNameInput.invalid">
    
    
        <div class="alert alert-danger" [hidden]="catNameInput.valid || catNameInput.untouched">
    
          <small *ngIf="catNameInput.errors?.['required']">category name is required</small>
        </div>
      </div>
    
    
      <div class="mb-3">
        <label for="catNameAr" class="form-label">Category Name in Arabic</label>
    
        <input type="text" #catNameInput="ngModel" class="form-control" name="catNameAr" id="catName" [(ngModel)]="cat.catNameAr" required  [class.is-valid]="catNameInput.valid" [class.is-invalid]="catNameInput.invalid">
    
    
        <div class="alert alert-danger" [hidden]="catNameInput.valid || catNameInput.untouched">
    
          <small *ngIf="catNameInput.errors?.['required']">category name in Arabic is required</small>
        </div>
      </div>
    
    
    
    
      <button type="submit" class="btn btn-outline-warning" role="button" [disabled]="categoryForm.invalid">Submit</button>
    </form>
    
    
    <!-- <h1 class="bg-info">{{cat|json}}</h1> -->
  </div>
</div>





