<button class="btn btn-warning mb-4" [routerLink]="['/addCat']">Add Category</button>

<nav class="navbar">
    <input type="text" class="form-control" name="catName" id="catName" [(ngModel)]="searchTerm" (ngModelChange)="Search()" placeholder="enter category name">
</nav>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" (click)="sort('id')">ID &nbsp;<i class="fa fa-sort text-black-50"></i></th>
            <th scope="col" (click)="sort('catName')">English Name &nbsp;<i class="fa fa-sort text-black-50"></i></th>
            <th scope="col">Arabic Name</th>
            <th scope="col">Action</th>
          </tr>
    </thead>
    <tbody>
        <ng-container *ngFor =" let cat of ListOfCat | orderBy: key: reverse | paginate: {itemsPerPage:5, currentPage:p}; let i = index">
        <tr>
            <th scope="row">{{cat._id}}</th>
            <td>{{cat.catNameEn}}</td>
            <td>{{cat.catNameAr}}</td>
            <td><i class="fa-solid fa-pen-to-square me-4 fs-4 text-success" (click)="update(cat._id)" role="button"></i> <i class="fa-solid fa-trash fs-4 text-danger" (click)="delete(cat._id)" role="button"></i></td>
        
          </tr>
        </ng-container>
    </tbody>
    <tfoot>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tfoot>
  </table>
