<div class="container">



    <div class="summary mt-3 row justify-content-md-evenly">
        <div class="p1 col-lg-3 col-md-6 col-sm-12 shadow py-4 rounded-2 mb-2">
            <div class="row">
        <div class="col-6 d-flex flex-column align-items-center justify-content-center pt-2 text-dark text-opacity-50">
         
            <h1>150</h1>
         <p>Total Users</p>
        </div>
        <div class="col-6 text-dark text-opacity-50 d-flex align-items-center justify-content-center fs-1"><i class="fa-solid fa-users"></i></div>
    </div>
  </div>

    <div class="p1 col-lg-3 col-md-6 col-sm-12 shadow py-4 rounded-2 mb-2 ">
        <div class="row">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center pt-2 text-dark text-opacity-50">
     
        <h1>200</h1>
     <p>Total Products</p>
    </div>
    <div class="col-6 text-dark text-opacity-50 d-flex align-items-center justify-content-center fs-1"><i class="fa-solid fa-computer"></i></div>
   </div>
</div>


<div class="p1 col-lg-3 col-md-6 col-sm-12 shadow py-4 rounded-2 mb-2">
    <div class="row">
<div class="col-6 d-flex flex-column align-items-center justify-content-center pt-2 text-dark text-opacity-50">
 
    <h1>50</h1>
 <p>Total Orders</p>
</div>
<div class="col-6 text-dark text-opacity-50 d-flex align-items-center justify-content-center fs-1"><i class="fa-solid fa-cart-shopping"></i></div>
</div>
</div>


        
    </div>



<div class="row justify-content-between mt-5 mx-5">
    <div class="col-lg-8 col-md-12 px-2 py-4 rounded-2 shadow mb-2">
        <h5 class="text-warning ps-2">Product Reviews</h5>

        <table class="table">
            <thead >
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating of 5</th>
                  </tr>
            </thead>
            <tbody>
                
                <tr>
                    <!-- <ng-container *ngFor ="  let i = index"> -->
                    <td>Samsoung M51</td>
                    <td>Mobile</td>
                    <td>7,000</td>
                    <td>3</td>
                    <!-- </ng-container> -->
                  </tr>

            </tbody>

          </table>
        
    </div>



    <div class="col-lg-3 col-md-12 rounded-2 shadow px-2 py-4 mb-2">
        <h5 class="text-warning p-2">Recent Customers</h5>

                <ul class="list-unstyled p-2">
                    <div><li>First name</li></div>
                    <div><li>second name</li></div>
                    <div><li>third name</li></div>
                    <div><li>fourth name</li></div>
                
                 </ul>

        
    </div>
</div>







</div>

