.p1{
    cursor: pointer;
}
.p1 h1{
    color: rgb(255, 207, 65);;
}
.p1:hover{
    background: rgb(255, 207, 65);
}

.p1:hover p{
    color: #fff;
}
.p1:hover h1{
    color: #fff;
}
.p1:hover i{
    color: #fff;
}