* {box-sizing:border-box;}

.forget-input {
    width:20rem;
    padding:1rem;
    border-radius: 50px;
    justify-content: left;
  }

  .forget-input:focus {
    border-color: orange;
    box-shadow: inset 0 1px 1px orange;
  }