<div class="head">
    <h5>All registered Users : <span>{{usersArray.length}}</span> User</h5>
</div>
<div class="container">
    <div class="header_wrap">
        <div class="num_rows">

            <div class="form-group"> <!--		Show Numbers Of Rows 		-->
                <select (change)="onTableSizeChange($event)" class="form-control">
                    <option *ngFor="let size of tableSizes">{{size}}</option>
                    <option value={{tableSizes[tableSizes.length]}}>All Users</option>
                </select>
            </div>
        </div>
        <div class="tb_search">
            <input class="form-control" type="text"
             name="search" [(ngModel)]="searchData" (ngModelChange)="search()"
                placeholder="Search With Email">
        </div>
    </div>



<br/>

<!-- /////////////////////////// -->
<table class="table">
    <thead>
        <tr >
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="">Name</th>
            <th scope="col">Registered</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Orders</th>
            <th scope="col">Spent</th>
            <th scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let userData of usersArray; let i= index " > -->
        <tr  *ngFor="let userData of usersArray | paginate:{
            itemsPerPage:tableSize,
            currentPage:page,
            totalItems: count,
            
        }; let i = index" >
            <!-- <td>{{i+1}}</td> -->
            <td>{{i+1}}</td>
            <td>{{userData._id}}</td>
            <td>{{userData.firstName}}<span>{{userData.lastName}}</span></td>
            <td>{{userData.createdAt.slice(1,10)}}</td>
            <td>{{userData.email}}</td>
            <td>{{userData.phoneNumber}}</td>
            <td>Active : {{userData.isActive}}</td>
            <td>user orders</td>
            <td>99.9 EGP</td>
            <td>
                <button type="button" (click)="deleteUser(userData)" class="deleteBtn">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class=" paginate">
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">

    </pagination-controls>
    
</div>






