
<div class="container d-flex flex-column align-items-center">
  <div class="w-75 p-3 shadow-lg rounded-3 border border-warning mt-5">
      <form #catForm="ngForm">
          <div class="mb-3">
            <label for="catName" class="form-label">Category Name</label>
        
            <input type="text" class="form-control" name="catName" id="catName" [(ngModel)]="cat.catNameEn" required >
        
          </div>
        
        
          <div class="mb-3">
            <label for="catName2" class="form-label">Category Name in Arabic</label>
        
            <input type="text" class="form-control" name="catName2" id="catName2" [(ngModel)]="cat.catNameAr" required >
        
          </div>
        
        
          <button type="submit" class="btn btn-outline-warning" (click)="update()">Update</button>
        </form>

  </div>
</div>






