<div class="addnewproduct">
    <h4>Add New Product</h4>
</div>
<br />
<div class="container" id="laptop">
    <form action="/action_page.php">
        <!-- name -->
        <div class="row">
            <div class="col-25">
                <label for="proName">Product Name [ En ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="itemNameEn" id="proName" name="productName" placeholder="English Name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="proName">Product Name [ Ar ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="itemNameAr" id="proName" name="productName" placeholder="Arabic Name ">
            </div>
        </div>

        <!-- brand -->
        <div class="row">
            <div class="col-25">
                <label for="brand">Brand Name [ En ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="brandEn" id="brand" name="brandName" placeholder="English Brand Name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="brand">Brand Name [ Ar ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="brandAr" id="brand" name="brandName" placeholder="Arabic Brand Name">
            </div>
        </div>
        <!-- category -->
        <div class="row">
            <div class="col-25">
                <label for="proCat">Product Category</label>
            </div>
            <div class="col-75">
                <select id="proCat" name="proCategory" [(ngModel)]="selectedCategory">
                    <option value="mobile&tablets">Mobile & Tablets</option>
                    <option value="computers&laptop">Computers & Laptop</option>
                    <option value="gaming">Gaming</option>
                    <option value="PowerSupply">Power Supply</option>
                    <option value="accessories">Accessories</option>
                </select>
            </div>
        </div>
        <!-- ................................gaming................. -->
        <div class='{{(selectedCategory=="gaming")?"yes":"no"}}'>
            <!-- details -->
            <div class="row">
                <div class="col-25">
                    <label for="sale">Details [ En ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="detailsEn" id="sale" name="sale" placeholder="SALE">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="sale">Details [ Ar ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="detailsAr" id="sale" name="sale" placeholder="SALE">
                </div>
            </div>
        </div>


        <!-- /////////////////////////// -->
        <div class='{{(selectedCategory=="mobile&tablets")?"yes":"no"}}'>

            <!-- battery -->
            <div class="row">
                <div class="col-25">
                    <label for="battery">Battery</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="battery" id="battery" name="battery" placeholder="BATTERY DETAILS">
                </div>
            </div>
            <!-- real camera -->
            <div class="row">
                <div class="col-25">
                    <label for="camera">Camera</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="realCamera" id="camera" name="camera" placeholder="CAMERA DETAILS">
                </div>
            </div>
            <!-- internal storage -->
            <div class="row">
                <div class="col-25">
                    <label for="internalStorage">Internal Storage</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="internalStorage" id="internalStorage" name="internalStorage"
                        placeholder="INTERNAL STORAGE DETAILS">
                </div>
            </div>
            <!-- memory ram -->
            <div class="row">
                <div class="col-25">
                    <label for="ram">Memory Ram</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="memoryRam" id="ram" name="ram" placeholder="MEMORY RAM DETAILS">
                </div>
            </div>
            <!-- network -->
            <div class="row">
                <div class="col-25">
                    <label for="brand">Network </label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="Network" id="brand" name="brandName" placeholder="English Color">
                </div>
            </div>
            <!-- processor -->
            <div class="row">
                <div class="col-25">
                    <label for="processor">Processor [ Ar ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="processorAr" id="processor" name="processor"
                        placeholder="PROCESSOR DETAILS">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="processorEn">Processor [ En ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="processorEn" id="processorEn" name="processor"
                        placeholder="PROCESSOR DETAILS">
                </div>
            </div>
            <!-- os -->
            <div class="row">
                <div class="col-25">
                    <label for="os">Operating System</label>
                </div>
                <div class="col-75">
                    <select id="os" [(ngModel)]="operatingSystem" name="proCategory">
                        <option value="windows">Windows</option>
                        <option value="linux">Linux</option>
                        <option value="mac">Mac</option>
                    </select>
                </div>
            </div>


        </div>

        <!-- ///////////////////////////////////////////////////////////////////// -->
        <div class='{{(selectedCategory=="computers&laptop")?"yes":"no"}}'>
            <div class="row">
                <div class="col-25">
                    <label for="proCat">Chose Product</label>
                </div>
                <div class="col-75">
                    <select id="proCat" name="proCategory" [(ngModel)]="selectedCategory">
                        
                        <option value="laptop">Laptop</option>
                        <option value="netWorkProducts">NetWork Products</option>
                        <option value=" flashDrive ">Flash Drive</option>
                        <option value="keyboard">Keyboard</option>
                        <option value="mouses">Mouses</option>
                        <option value=" securityCameras ">Security Cameras</option>
                    </select>
    
                </div>

            </div>
        </div>
        <!--........................................... Laptop ........................................-->
        <div class='{{(selectedCategory=="laptop")?"yes":"no"}}'>
            <!-- battery -->
            <div class="row">
                <div class="col-25">
                    <label for="battery">Battery</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="battery" id="battery" name="battery" placeholder="BATTERY DETAILS">
                </div>
            </div>
            <!-- real camera -->
            <div class="row">
                <div class="col-25">
                    <label for="camera">Camera</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="realCamera" id="camera" name="camera" placeholder="CAMERA DETAILS">
                </div>
            </div>
            <!-- internal storage -->
            <div class="row">
                <div class="col-25">
                    <label for="internalStorage">Internal Storage</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="internalStorage" id="internalStorage" name="internalStorage"
                        placeholder="INTERNAL STORAGE DETAILS">
                </div>
            </div>
            <!-- memory ram -->
            <div class="row">
                <div class="col-25">
                    <label for="ram">Memory Ram</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="memoryRam" id="ram" name="ram" placeholder="MEMORY RAM DETAILS">
                </div>
            </div>
            <!-- processor -->
            <div class="row">
                <div class="col-25">
                    <label for="processor">Processor [ Ar ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="processorAr" id="processor" name="processor" placeholder="PROCESSOR DETAILS">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="processorEn">Processor [ En ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="processorEn" id="processorEn" name="processor" placeholder="PROCESSOR DETAILS">
                </div>
            </div>
            <!-- graphicsDisplay -->
            <div class="row">
                <div class="col-25">
                    <label for="graphics">graphics Display</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="graphicsDisplay" id="graphics" name="graphics" placeholder="GRAPHICS DISPLAY">
                </div>
            </div>

            <!-- keyboard -->
            <div class="row">
                <div class="col-25">
                    <label for="keyboard">Keyboard</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="Keyboard" id="keyboard" name="keyboard"
                        placeholder="KEYBOARD DETAILS">
                </div>
            </div>
        </div>
            <!-- //////////////////////////////////////////////// -->
            <!-- ..........................................keyboard........................................................... -->
            <!-- 2 -->
            <div class='{{(selectedCategory=="keyboard")?"yes":"no"}}'>
                <!-- capacity -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Capacity</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="capacity" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- interface -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Interface</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="interface" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- connector -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Connector</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="connector" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- compatibility -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatibility [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibilityAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatibility [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibilityEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- CompatibleDevices -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
            </div>


            <!--.................................... power Supply........................................................... -->
            <div class='{{(selectedCategory=="PowerSupply")?"yes":"no"}}'>
                <!-- power source -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Power Source [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="powerSourceAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Power Source [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="powerSourceAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- series -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Series [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="seriesAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Series [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="seriesEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- weight -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Weight</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="weight" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- Dimensions -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Dimensions</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="dimensions" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- Wattage -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Wattage</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="wattage" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- outputWattage -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">output Wattage</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="outputWattage" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>

            </div>
            <!-- /////////////////////////////////////// -->
            <!-- ......................................accessories................................................................... -->
            <div class='{{(selectedCategory=="accessories")?"yes":"no"}}'>
                <div class="row">
                    <div class="col-25">
                        <label for="proCat">Chose Product</label>
                    </div>
                    <div class="col-75">
                        <select id="proCat" name="proCategory" [(ngModel)]="selectedCategory">
                            
                            <option value="auxCable">Aux Cable</option>
                            <option value="carCharger">Car Charger</option>
                            <option value="holder">Holder</option>
                            <option value="screenProtector">Screen Protector</option>
                            <option value="selfieStick">Selfie Stick</option>
                            <option value="bags">Bags</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- .....................bags....................... -->
            <div class='{{(selectedCategory=="bags")?"yes":"no"}}'>
                <!-- laptop compartment -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Laptop Compartment [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="laptopCompartmentAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Laptop Compartment [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="laptopCompartmentEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- work with -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Work With [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="workWithAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Work With [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="workWithEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- brand Material Type -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Brand Material Type [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="brandMaterialTypeAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Brand Material Type [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="brandMaterialTypeEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
            </div>
            <!-- ............aux cable........... -->
            <div class='{{(selectedCategory=="auxCable")?"yes":"no"}}'>
                <!-- connector -->
                <!-- Connector -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Connector [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="connectorAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Connector [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="connectorEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>



                <!-- CompatibleDevices -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- special feature -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Special Feature [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="specialFeatureAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Special Feature [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="specialFeatureEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
            </div>
            <!-- type -->
            <div class="row">
                <div class="col-25">
                    <label for="brand">Type [ Ar ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="typeAr" id="brand" name="brandName" placeholder="English Color">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="brand">Type [ En ]</label>
                </div>
                <div class="col-75">
                    <input type="text" [(ngModel)]="typeEn" id="brand" name="brandName" placeholder="English Color">
                </div>
            </div>
            <!-- ...............car charger........... -->
            <div class='{{(selectedCategory=="carCharger")?"yes":"no"}}'>
                <!-- connectivity Technology -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Connectivity Technology [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="connectivityTechnologyAr" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Connectivity Technology [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="connectivityTechnologyEn" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <!-- special feature -->
                <div class="row">
                            <div class="col-25">
                                <label for="brand">Special Feature [ Ar ]</label>
                            </div>
                            <div class="col-75">
                                <input type="text" [(ngModel)]="specialFeatureAr" id="brand" name="brandName"
                                    placeholder="English Color">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="brand">Special Feature [ En ]</label>
                            </div>
                            <div class="col-75">
                                <input type="text" [(ngModel)]="specialFeatureEn" id="brand" name="brandName"
                                    placeholder="English Color">
                            </div>
                        </div>
                </div>
                <!-- compatible PhoneModels -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Phone Models [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatiblePhoneModelsAr" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Phone Models [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatiblePhoneModelsEn" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <!-- input Voltage -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Input Voltage</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="inputVoltage" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- output Voltage -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Output Voltage</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="outputVoltage" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- Amperage -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Amperage</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="amperage" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- totalUspPorts -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Total UspPorts</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="totalUspPorts" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>

            </div>
            <!-- .............holder................. -->
            <div class='{{(selectedCategory=="holder")?"yes":"no"}}'>
                <!-- mountingType -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">mounting Type</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="mountingType" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- compatible with phone -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Phone Models [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatiblePhoneModelsAr" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Phone Models [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatiblePhoneModelsEn" id="brand" name="brandName"
                            placeholder="English Color">
                    </div>
                </div>
                <!-- CompatibleDevices -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Compatible Devices [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="compatibleDevicesEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>

            </div>
            <!-- ............screenProtector.......... -->
            <div class='{{(selectedCategory=="screenProtector")?"yes":"no"}}'>
                <!-- Material -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Material [ Ar ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="materialAr" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Material [ En ]</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="materialEn" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- screen Size -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Screen Size </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="screenSize" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- itemHardness -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Item Hardness</label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="itemHardness" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                    <!-- compatible with phone -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Phone Models [ Ar ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatiblePhoneModelsAr" id="brand" name="brandName"
                                placeholder="English Color">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Phone Models [ En ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatiblePhoneModelsEn" id="brand" name="brandName"
                                placeholder="English Color">
                        </div>
                    </div>
                    <!-- CompatibleDevices -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Devices [ Ar ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatibleDevicesAr" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Devices [ En ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatibleDevicesEn" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <!-- finish Type -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Finish Type [ Ar ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="finishTypeAr" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Finish Type [ En ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="finishTypeEn" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <!-- unit Count -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Unit Count </label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="unitCount" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <!-- special feature -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Special Feature [ Ar ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="specialFeatureAr" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Special Feature [ En ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="specialFeatureEn" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
            </div>
            <!-- ...................selfieStick.................. -->
            <div class='{{(selectedCategory=="selfieStick")?"yes":"no"}}'>
                    <!-- CompatibleDevices -->
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Devices [ Ar ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatibleDevicesAr" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="brand">Compatible Devices [ En ]</label>
                        </div>
                        <div class="col-75">
                            <input type="text" [(ngModel)]="compatibleDevicesEn" id="brand" name="brandName" placeholder="English Color">
                        </div>
                    </div>
                <!-- itemWeight -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Item Weight </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="itemWeight" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- weightLimit -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Weight Limit </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="weightLimit" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- maximumHeight -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">Maximum Height </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="maximumHeight" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- tripodHeadType -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand">TripodHead Type </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="tripodHeadType" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
                <!-- foldedSize -->
                <div class="row">
                    <div class="col-25">
                        <label for="brand"> Folded Size </label>
                    </div>
                    <div class="col-75">
                        <input type="text" [(ngModel)]="foldedSize" id="brand" name="brandName" placeholder="English Color">
                    </div>
                </div>
            </div>
        <!-- .............................................................................................................. -->
        <!-- description -->
        <div class="row">
            <div class="col-25">
                <label for="proDesc">Product Description [ En ]</label>
            </div>
            <div class="col-75">
                <textarea id="proDesc" [(ngModel)]="descriptionEn" name="proDescription"
                    placeholder="PRODUCT DESCRIPTION" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="proDesc">Product Description [ An ]</label>
            </div>
            <div class="col-75">
                <textarea id="proDesc" [(ngModel)]="descriptionAr" name="proDescription"
                    placeholder="PRODUCT DESCRIPTION" style="height:200px"></textarea>
            </div>
        </div>
        <!-- color -->
        <div class="row">
            <div class="col-25">
                <label for="brand">Color [ En ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="colorEn" id="brand" name="brandName" placeholder="English Color">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="brand">Color [ Ar ]</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="colorAr" id="brand" name="brandName" placeholder="Arabic Color ">
            </div>
        </div>


        <!-- all images -->
        <div class="row">
            <div class="col-25">
                <label for="proImg"> Gallery Images</label>
            </div>
            <div class="col-75">

                <input type="file" [(ngModel)]="images" id="files" name="files" multiple accept="image/*" (change)="selectImages($event)">
            </div>
        </div>
        <!-- price  -->
        <div class="row">
            <div class="col-25">
                <label for="price">Price</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="price" id="price" name="price" placeholder="NORMAL PRICE">
            </div>
        </div>
        <!-- on sale -->
        <div class="row">
            <div class="col-25">
                <label for="sale">On Sale</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="onSale" id="sale" name="sale" placeholder="SALE">
            </div>
        </div>
        <!-- price on sale -->
        <div class="row">
            <div class="col-25">
                <label for="priceOnsale">Price On Sale</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="priceOnSale" id="priceOnsale" name="priceOnsale"
                    placeholder="PRICE ON SALE ">
            </div>
        </div>
        <br />
        <div class="row ">
            <button type="submit" (click)="register()" class="submitBtn">Submit</button>
        </div>
    </form>
</div>
<br />