input {
    width: 100%;;
    height: 50px;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding: 20px;


}
select{
    width: 100%;
        height: 50px;
        border-radius: 30px;
        border: 1px solid lightgray;
        padding: 20px;
        font-size: 16px;
}



.label {
    margin: 15px 0 10px;
}

.submit {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #fed700;
}

.date-btn {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #fed700;
}

/*  */