
<div class="container d-flex flex-column align-items-center">
    <div class="w-75 p-3 shadow-lg rounded-3 border border-warning mt-5">
        <form #orderForm="ngForm">






            <div class="mb-3 col-lg-12 col-sm-12">
                <label for="status" class="form-label">Status</label>
                <input type="text" class="form-control" name="status" id="status" [(ngModel)]="order.statusEn" required placeholder="pending, In progress, done">
              
            </div>





              <!-- <div class="mb-3">
                <label for="item" class="form-label">Items</label>
                <input type="number" class="form-control" name="item" id="item" [(ngModel)]="order.quantity" required>
              </div>


              <div class="mb-3">
                <label for="total" class="form-label">Total Price</label>
                <input type="number" class="form-control" name="total" id="total" [(ngModel)]="order.totalPrice" required>
              </div>
           -->
          
            <button type="submit" class="btn btn-outline-warning" (click)="update()">Update</button>
          </form>

    </div>
</div>






